@import '../../../../../styles/styles.scss';

.checkboxes {
  @extend %display-flex-vc;

  &__title {
    @extend %noto-regular-12;
    color: $color-secondary-200;

    &-active {
      color: $color-primary-300;
    }
  }

  &__input {
    box-sizing: border-box;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    border: 2px solid $color-secondary-200;
    border-radius: 3px;

    &-active {
      @extend %bg-image;
      background-image: url(../../../../../images/icons/checked.png);
      border: none;
    }
  }

  &:hover {
    cursor: pointer;
  }
}

